<hr>
<section *ngIf="miahootUserObs | async as muObs ">
    <section *ngIf="userObs | async as U">
        <ng-container *ngIf="!U.isAnonymous; else isAnonymous">
            <div [formGroup] = "formGroup" class="form">
                <mat-label>{{muObs.name}} </mat-label>
                <mat-form-field>
                    <input matInput type="text" formControlName="name" placeholder="Name" class="mat-input-element"/>

                </mat-form-field>
                <mat-form-field>
                  <ngx-mat-file-input [formControl]="formGroup.controls.photoFile">
                  </ngx-mat-file-input>
                </mat-form-field>
                <img [src]="preview | async" alt="" style="max-width : 200px"/>
                <mat-form-field appearance="fill">

                    <mat-label>{{muObs.role}} </mat-label>
                    <mat-select [formControl]="formGroup.controls.role">
                        <mat-option *ngFor="let role of roles | keyvalue" [value]="role.value">{{role.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="update()" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Save</button>
            </div>
        </ng-container>

        <ng-template #isAnonymous>
            <p>Frites nuggets</p>
        </ng-template>

    </section>
</section>
