<mat-toolbar>
    <button mat-icon-button class="menuIcon" aria-label="Menu icon" [matMenuTriggerFor]="pages">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #pages="matMenu">
        <button mat-menu-item routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">ACCUEIL</button>
        <button mat-menu-item routerLink="accountConfig" routerLinkActive="active" ariaCurrentWhenActive="page">ACCOUNT
            SETTINGS</button>
    </mat-menu>
    <span class="spacer"></span>
    <p>{{title}}</p>
    <span class="spacer"></span>
    <ng-container *ngIf="user | async as U; else notLogged">
        <button mat-mini-fab class="buttonIcon" [matMenuTriggerFor]="account" [ngStyle]="{ 'background-image': 'url(' + U.photoURL + ')'}" ></button>
        <mat-menu #account="matMenu">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{U.displayName}}</mat-card-title>
                    <mat-card-title>{{U.email}}</mat-card-title>
                </mat-card-header>
            </mat-card>
            <button mat-menu-item routerLink="accountConfig" routerLinkActive="active"
            ariaCurrentWhenActive="page">ACCOUNT CONFIG</button>
            <button mat-menu-item  routerLink="" routerLinkActive="active"
            ariaCurrentWhenActive="page" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </ng-container>
    <ng-template #notLogged>
        <button mat-raised-button color="primary" (click)="login()">CONNECTION</button>
    </ng-template>

</mat-toolbar>
<mat-spinner style="margin:0 auto;" *ngIf="bsIsAuth.value"></mat-spinner>
<router-outlet></router-outlet>