<div class="image">

    <div class="container">

        <div class="title">
            <h1>Bienvenue Pseudo</h1>
        </div>
        <br/><br/><br/><br/>
        <div class="code">
            <h3>Code du Miahoot à rejoindre:</h3>
            <br/>
            <div class="input-container">
                <input type="text" required="" placeholder="Ex: miamia12!" [(ngModel)]="codeMiahoot"/>  
              </div>
        </div>
        <div class="container-btn">
            <div class="btn">
                <button (click)="connectToMiahoot()">JOINDRE</button>
            </div>
        </div>

    </div>
</div>
    


