<p> CREATION D'un Miahoot </p>
<hr>
<form [formGroup]="miahootForm" (ngSubmit)="onSubmit()"  class="form">
    <mat-label>  Nom du Miahoot : </mat-label>
    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="name" placeholder="Name" class="mat-input-element"/>
    </mat-form-field>
    <div formArrayName="questions">
        <div *ngFor="let question of questions().controls; let qIndex=index">
            <div [formGroupName]="qIndex">
                <div style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;">
                    <mat-label> Label de la question {{qIndex + 1}}  : </mat-label>
                    <mat-form-field appearance="fill">
                        <input matInput type="text" formControlName="label" />
                    </mat-form-field>
                    <button mat-icon-button color="warn" aria-label="Remove/clear" matTooltip="Remove" (click)="removeQuestion(qIndex)"><mat-icon>highlight_off</mat-icon></button>
                </div>

                <div formArrayName="reponses" class="reponses">
                    <div *ngFor="let reponse of questionReponses(qIndex).controls; let rIndex=index" >
                        <div [formGroupName]="rIndex">
                            <mat-label>  Reponse possible n° {{rIndex + 1 }} : </mat-label>
                            <mat-form-field appearance="fill">
                                <input matInput type="text" formControlName="reponse" />
                            </mat-form-field>
                            <mat-label> est correcte : </mat-label>
                            <mat-checkbox formControlName="isCorrect" class="mat-input-element"></mat-checkbox>
                            <button mat-icon-button color="warn" aria-label="Remove/clear" matTooltip="Remove" (click)="removeQuestionReponse(qIndex,rIndex)">
                                <mat-icon>highlight_off</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button color="primary" (click)="addQuestionReponse(qIndex)">
                    Ajouter une réponse
                </button>
                <hr>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="addQuestion()">Ajouter une question</button>
        <hr>
    </div>

    <button mat-raised-button color="primary" type="submit">Save</button>
</form>

{{this.miahootForm.value | json}}


<!--
<form [formGroup]="creationMiahootForm" class="form">
    <input type="text" formControlName="name" placeholder="Name" class="mat-input-element"/>
    <ul>
        <div formArrayName="qcms">
            <div *ngFor="let qcm of qcmFormArray.controls; index as i">
                <div [formGroupName]="i">
                    <input type="text" formControlName="question" placeholder="La question" class="mat-input-element"/>
                    <div formArrayName="responses">
                        <div *ngFor="let response of responseFormArray.controls; index as j">
                            <div [formGroupName]="j">
                                <input type="text" formControlName="response" placeholder="La réponse" class="mat-input-element"/>
                                <input type="checkbox" formControlName="isCorrect" class="mat-input-element"/>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" (click)="addResponse(i)" class="mat-button">Ajouter une reponse</button>
            </div>
        </div>
    </ul>


</form> -->
