<section *ngIf="miahootObs | async as miahootProjected">
    <div> currentQcmId :  {{miahootProjected.currentQCM}}</div>
    <div> titre :  {{miahootProjected.title}} </div>
    <section *ngIf="questionObs | async as questionProjected">
        <div> question :  {{questionProjected.question}} </div>
        <div *ngFor="let reponse of questionProjected.reponses; index as i">
            <div> reponse {{i}} :  {{reponse}} </div>
        </div>
    </section>
    <button (click)="setNextQuestion()">Next</button>
</section>
