<section *ngIf="miahooUserObs | async as muObs">
    <section *ngIf="miahootObs | async as miahootProjected">
        <div> currentQcmId :  {{miahootProjected.currentQCM}}</div>
        <div> titre :  {{miahootProjected.title}} </div>
        <section *ngIf="questionObs | async as questionProjected">
            <div> question :  {{questionProjected.question}} </div>
            <div *ngFor="let reponse of questionProjected.reponses; index as i">
                <div> reponse {{i}} :  {{reponse}} </div>
            </div>
        </section>
        <!-- si le dernier élément du tableau est égal à l'élément courant, on affiche le bouton terminer : c'est la fin du miahoot -->
        <ng-container *ngIf="miahootQCMs[miahootQCMs.length-1] === miahootProjected.currentQCM else notFinished">
            <button>terminer</button>
        </ng-container>
        <ng-template #notFinished>
            <button (click)="setNextQuestion()">Next</button>
        </ng-template>
    </section>
</section>